<html>

<head>
<title>Redovisa</title>
<link rel="stylesheet" href="/static/redovisa.css">
<link rel="stylesheet" href="/static/buttons.css">
<meta charset="utf-8"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/static/functions.js"></script>
</head>

{% set pattern_amount = "^\\d+(.\\d{2})?$" %}
{% set pattern_account = "^\\d{4}[\\d\\-,\\s]+$" %}

<body>
<h1>Redovisa utlägg för {{ organisation }}</h1>

<p>Redovisning av utlägg gjorda av <b>{{ session.name }} &ndash; {{ session.email }}</b></p>

<form method="post" enctype="multipart/form-data">

  <table>

  <tr>
    <th>Konto</th>
    <th>Beskrivning</th>
    <th class="amount">Belopp</th>
    <th></th>
  </tr>

  {% for row in range(10) %}

  <tr>
    <td>
      <select name="{{row}}:account" id="acount">
        <option value="">Välj konto…</option>
        {% for account, description in accounts.items() %}
        {% if account | int %}
        <option value="{{ account }}">{{ description }} ({{ account }})</option>
        {% else %}
        <option value="{{ account }}">{{ description }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </td>
    <td><input name="{{row}}:description" type="text" class="description" maxlength="132"/></td>
    <td><input name="{{row}}:amount" type="text" onblur="updateTotal()" value="0.00" class="amount" pattern="{{ pattern_amount }}"/></td>
    <td></td>
  </tr>

  {% endfor %}

  <tr>
    <th><b>Totalsumma</b></th>
    <td></td>
    <td class="amount"><div id="total">0.00</div></td>
    <td>kr</td>
  </tr>

  <tr>
    <td colspan=4><hr/></td>
  </tr>

  <tr>
    <th>Bifogade kvitton (PDF eller PNG)</th>
    <td colspan=3>
      <input name="receipts" type="file" required accept="image/*,application/pdf" capture="camera" multiple="multiple"/>
    </td>
  </tr>

  <tr>
    <th>Kontonummer</th>
    <td colspan=3>
      <input name="recipient_account" type="text" value="{{ recipient_account }}" required pattern="{{ pattern_account }}"/>
    </td>
  </tr>

  <tr>
    <td class="reminder" colspan=4>Endast siffror. Glöm inte clearingnummer!</td>
  </tr>

  </table>


  <input class="button-4" type="submit" value="Skicka in utläggsrapport">
  <input class="button-4" type="reset" value="Rensa">

</form>
</body>

</html>
