<html>

<head>
<title>Redovisa</title>
<link rel="stylesheet" href="/static/redovisa.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/static/functions.js"></script>
</head>

{% set pattern_amount = "^\\d+(.\\d{2})?$" %}
{% set pattern_account = "^\\d+$" %}

<body>
<h1>Redovisa utlägg</h1>

<p>Redovisning av utlägg för <b>{{ session.name }}</b></p>

<form method="post" enctype="multipart/form-data">

  <table>

  <tr>
  <th>Konto</th>
  <th>Beskrivning</th>
  <th class="amount">Belopp</th>
  </tr>

  {% for row in range(10) %}

  <tr>
    <td>
      <select name="{{row}}:account" id="acount">
        <option value="">Välj konto…</option>
        <option value="4210">Grenkostnad Bäver</option>
        <option value="4211">Grenkostnad Spårare</option>
        <option value="4212">Grenkostnad Upptäckare</option>
        <option value="4213">Grenkostnad Äventyrare</option>
        <option value="4214">Grenkostnad Utmanare</option>
        <option value="4610">Kostnader kårläger</option>
        <option value="4611">Kostnader sommarläger</option>
        <option value="0000">Övrigt</option>
      </select>
    </td>
    <td><input name="{{row}}:description" type="text" class="description" maxlength="132"/></td>
    <td><input name="{{row}}:amount" type="text" onblur="updateTotal()" value="0.00" class="amount" pattern="{{ pattern_amount }}"/></td>
  </tr>

  {% endfor %}

  <tr>
  <td>Totalsumma</td>
  <td></td>
  <td class="amount"><div id="total">0.00</div></td>
  </tr>

  </table>

  <table>

  <tr>
  <td>Bifogat kvitto (PDF eller PNG)</td>
  <td>
  <input name="receipt" type="file" required accept="image/*,application/pdf" capture="camera"/>
  </td>
  </tr>

  <tr>
  <td>Kontonummer (inklusive clearingnummer)</td>
  <td>
  <input name="recipient_account" type="text" required pattern="{{ pattern_account }}"/>
  </td>
  </tr>

  </table>


  <input type="submit" value="Skicka in">

</form>
</body>

</html>
