<html>

<head>
<title>Ingen åtkomst</title>
<link rel="stylesheet" href="/static/redovisa.css">
<link rel="stylesheet" href="/static/buttons.css">
<link rel="icon" href="/static/favicon.ico">
</head>

<body>

<h1>Ingen åtkomst</h1>

<p>Du har tyvärr inga rättigheter att använda denna tjänst.</p>

</body>

</html>
