<html>

<head>
<title>Ingen åtkomst</title>
<link rel="stylesheet" href="/static/redovisa.css">
<link rel="stylesheet" href="/static/buttons.css">
<link rel="icon" href="/static/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<h1 class="error">Ingen åtkomst</h1>

<p>Du har tyvärr inga rättigheter att använda denna tjänst - kontakta <a href="mailto:{{ helpdesk_email }}">{{ helpdesk_name }}</a> för mer information.</p>

<form action="/logout" method="get">
  <input type="submit" class="button-4" value="Försök igen" />
</form>

</body>

</html>
