<h1>Utlägg från {{ expense_report.recipient.name }}</h1>

<h2>Mottagare</h2>

<p>Namn {{ expense_report.recipient.name }}</p>
<p>Epost {{ expense_report.recipient.email }}</p>
<p>Konto {{ expense_report.recipient.account }}</p>


<h2>Poster</h2>

<p>
<table>
<tr>
<th>Konto</th>
<th>Beskrivning</th>
<th>Belopp</th>
</tr>

{% for item in expense_report.items %}
<tr>
<td>{{ item.account }}</td>
<td>{{ item.description }}</td>
<td>{{ "%0.2f" | format(item.amount | float) }} kr</td>
</tr>

{% endfor %}

</table
</p>

<p>Totalbelopp <b>{{ "%0.2f" | format(expense_report.total_amount | float) }} kr</b></p>
