<h1>Utlägg från {{ expense_report.recipient.name }}</h1>

<p>Referensnummer {{ expense_report.id }}</p>

<h2>Mottagare</h2>

<p><table>
  <tr>
    <th>Namn</th>
    <td>{{ expense_report.recipient.name }}</td>
  </tr>
  <tr>
    <th>Epost</th>
    <td>{{ expense_report.recipient.email }}</td>
  </tr>
  <tr>
    <th>Kontonummer</th>
    <td>{{ expense_report.recipient.account }}</td>
  </tr>
  <tr>
    <th>Datum</th>
    <td>{{ expense_report.date }}</td>
  </tr>
  <tr>
    <th>Totalsumma</th>
    <td>{{ "%0.2f" | format(expense_report.total_amount | float) }} kr</td>
  </tr>
</table></p>


<h2>Poster</h2>

<p><table>
  <tr>
    <th>Konto</th>
    <th>Namn</th>
    <th>Beskrivning</th>
    <th>Belopp</th>
  </tr>

{% for item in expense_report.items %}
  <tr>
    <td>{{ item.account }}</td>
    <td>{{ item.account_name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ "%0.2f" | format(item.amount | float) }} kr</td>
  </tr>
{% endfor %}

</table></p>
