<html>

<head>
<title>Tack för din redovisning</title>
<link rel="stylesheet" href="/static/redovisa.css">
<link rel="stylesheet" href="/static/buttons.css">
<link rel="icon" href="/static/favicon.ico">
</head>

<body>

<h1>Tack för din redovisning</h1>

<p>Din utläggsrapport har skickats till vår <a href="mailto:{{email}}">kassör</a> ({{name}}).</p>

<p>Referensnummer {{ expense_report.id }}</p>

<form action="/expense">
  <input type="submit" class="button-4" value="Redovisa fler utlägg" />
</form>

</body>

</html>
